NEXT_PUBLIC_API_URL=http://localhost:5000/api

| Environment Variable                  | Value                                     |
| ------------------------------------- | ----------------------------------------- |
| `NEXT_PUBLIC_FIREBASE_API_KEY`        | `AIzaSyABJu49eZlNjBi8hUq3HaF3TEplolDPd_8` |
| `NEXT_PUBLIC_FIREBASE_PROJECT_ID`     | `invectory-b1f76`                         |
| `NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET` | `invectory-b1f76.firebasestorage.app`     |
